In [25]:
import main

load = main.load_housing_data()
#load.plot(kind="scatter", x="longitude", y="latitude", alpha=0.1)
load.sort_values(by="acq_date")

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
285,-14.2000,130.6596,324.2,2.0,1.4,2019-08-01,524,Aqua,MODIS,42,6.3,301.8,28.8,D,0
284,-14.3457,129.8308,321.8,1.7,1.3,2019-08-01,524,Aqua,MODIS,57,6.3,301.9,18.7,D,0
283,-14.2476,130.6929,321.2,2.0,1.4,2019-08-01,524,Aqua,MODIS,61,6.3,303.7,21.0,D,0
282,-14.2568,130.7132,325.2,2.0,1.4,2019-08-01,524,Aqua,MODIS,54,6.3,304.4,30.7,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35566,-27.4541,149.4632,329.1,1.2,1.1,2019-09-30,407,Aqua,MODIS,70,6.3,315.2,14.2,D,0
35567,-27.4063,151.6380,334.3,1.6,1.3,2019-09-30,407,Aqua,MODIS,72,6.3,314.2,29.9,D,0
35568,-27.4175,151.6407,331.5,1.6,1.3,2019-09-30,407,Aqua,MODIS,64,6.3,317.6,22.2,D,0
35570,-22.4856,150.7192,327.5,1.8,1.3,2019-09-30,408,Aqua,MODIS,0,6.3,299.7,40.2,D,0
36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [5]:
load_housing_data()

NameError: name 'load_housing_data' is not defined